# Estadística descriptiva para datos de dieta de la codorniz moctezuma

### Importando librerías

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from ydata_profiling import ProfileReport

### Cargando los datos

In [4]:
directorio = '../data'

df = pd.read_excel(os.path.join(directorio,"dieta_oscar_MCD.xlsx"), index_col=0)

df.head()

,edad,sexo,estado,peso total,Oxalis,Quercus,Cyp.bulb,Phaseolus,Tephoria,Caracoles,...,covey,dist camino,ppanual17,tmedia17,altitud,lat,lon,hcrop,hland,gap
id,,,,,,,,,,,,,,,,,,,,,
2014-104,J,Female,NM,9.7584,9.7584,0.0,0.000,0.0000,0.0000,0.0,...,6.0,251.86,462.0,7.054167,2518.0,34.037969,-108.963777,0.000000,0.798600,Rocky Mountain Ponderosa Pine Woodland
2014-105,J,Male,NM,3.9632,3.9632,0.0,0.000,0.0000,0.0000,0.0,...,6.0,251.86,462.0,7.054167,2518.0,34.037969,-108.963777,0.000000,0.798600,Rocky Mountain Ponderosa Pine Woodland
2016-133,A,Female,AZ,5.4562,3.8238,0.0,0.000,0.6148,0.0726,0.0,...,10.0,574.06,515.0,15.954167,1527.0,31.375725,-110.530491,0.785803,1.245916,Madrean Encinal
2014-28,J,Female,NM,4.4976,3.7076,0.0,0.000,0.0000,0.0000,0.0,...,8.0,23.07,385.0,10.979167,1952.0,33.176791,-107.735593,0.464732,0.764466,Colorado Plateau Pinyon-Juniper Woodland
2016-132,J,Male,AZ,5.4630,2.2011,0.0,0.778,0.3908,0.0000,0.0,...,8.0,236.76,521.0,16.133333,1507.0,31.353053,-110.531060,1.680150,1.541562,Apacherian-Chihuahuan Mesquite Upland Scrub

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 319 entries, 2014-104 to 2015-63
Columns: 145 entries, edad to gap
dtypes: float64(137), int64(4), object(4)
memory usage: 363.9+ KB

In [6]:
df.describe()

,peso total,Oxalis,Quercus,Cyp.bulb,Phaseolus,Tephoria,Caracoles,Insectos,Physalis,Vitis.arizonica,...,time,covey,dist camino,ppanual17,tmedia17,altitud,lat,lon,hcrop,hland
count,319.000000,319.000000,318.000000,317.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,...,232.000000,190.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,319.000000,220.000000
mean,2.084231,0.097181,0.391575,0.194748,0.319146,0.014456,0.000230,0.113014,0.035234,0.008553,...,1327.995690,9.178947,207.466742,436.755656,13.860351,1709.475113,32.221751,-108.935298,0.645314,1.044265
std,1.718818,0.681455,0.873040,0.626539,1.021837,0.054934,0.002218,0.384408,0.303878,0.094990,...,227.468822,3.779586,178.331358,78.965781,2.093009,224.818989,0.815692,1.534481,0.528932,0.360545
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,835.000000,1.000000,6.400000,235.000000,7.054167,1206.000000,31.343850,-111.072099,0.000000,0.222691
25%,0.704350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1130.000000,6.000000,81.820000,376.000000,12.379167,1567.000000,31.479233,-110.585248,0.181204,0.783493
50%,1.776000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1365.000000,10.000000,171.920000,422.000000,14.354167,1658.000000,31.791366,-108.940734,0.579030,1.057318
75%,3.001150,0.000000,0.134650,0.000000,0.091750,0.000000,0.000000,0.030000,0.000000,0.000000,...,1530.000000,12.000000,272.860000,518.000000,15.537500,1901.000000,32.894714,-107.723281,0.963353,1.362937
max,9.758400,9.758400,4.382100,6.723300,7.326500,0.666200,0.027800,2.900000,4.471900,1.666400,...,1700.000000,20.000000,774.840000,620.000000,17.312500,2518.000000,34.037969,-105.354701,2.318525,1.796301

### EDA Automatizado: Generación y visualización de reporte usando YData Profiling.
Se utiliza la herramienta de YData Profiling (antes Pandas Profiling) para ver rápidamente un EDA básico de los datos.

In [5]:
# Se crea el reporte
profile = ProfileReport(df, title="EDA básico de los datos de la dieta de la codorniz moctezuma")

# Se visualiza el reporte
#profile.to_notebook_iframe()

# Se guarda el reporte en archivo HTML
profile.to_file("reporte.html")